@font-face {
  font-family: apex-5-icon-font;
  src: url(apex-5-icon-font.ttf); }
body {
  max-width: 60em;
  margin: 0 auto 0;
  font-family: Helvetica,Arial, sans-serif; }

h1, h2 {
  color: #666; }

.description {
  margin-bottom: 2em; }
  .description h2 {
    margin: 1em 0 0; }
  .description p {
    margin-top: 0.5em; }

.icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center; }

.icon {
  font-family: apex-5-icon-font, Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 1em;
  width: 20%;
  font-size: 0.75em;
  text-align: left;
  position: relative; }
  .icon p, .icon .unicode-entity {
    margin-top: 0;
    margin-left: 2rem; }
  .icon p {
    margin-bottom: 0; }
  .icon .unicode-entity {
    font-size: 0.75em;
    font-weight: 900;
    display: block;
    text-align: left; }
  .icon:before {
    font-size: 1.25rem;
    display: inline-block;
    position: absolute;
    float: left;
    margin: 0; }
  .icon.unused {
    color: #cc5555; }

.e000:before {
  content: "\e000"; }

.e001:before {
  content: "\e001"; }

.e002:before {
  content: "\e002"; }

.e003:before {
  content: "\e003"; }

.e004:before {
  content: "\e004"; }

.e005:before {
  content: "\e005"; }

.e006:before {
  content: "\e006"; }

.e007:before {
  content: "\e007"; }

.e008:before {
  content: "\e008"; }

.e009:before {
  content: "\e009"; }

.e00a:before {
  content: "\e00a"; }

.e00b:before {
  content: "\e00b"; }

.e00c:before {
  content: "\e00c"; }

.e00d:before {
  content: "\e00d"; }

.e00e:before {
  content: "\e00e"; }

.e00f:before {
  content: "\e00f"; }

.e010:before {
  content: "\e010"; }

.e011:before {
  content: "\e011"; }

.e012:before {
  content: "\e012"; }

.e013:before {
  content: "\e013"; }

.e014:before {
  content: "\e014"; }

.e015:before {
  content: "\e015"; }

.e016:before {
  content: "\e016"; }

.e017:before {
  content: "\e017"; }

.e018:before {
  content: "\e018"; }

.e019:before {
  content: "\e019"; }

.e01a:before {
  content: "\e01a"; }

.e01b:before {
  content: "\e01b"; }

.e01c:before {
  content: "\e01c"; }

.e01d:before {
  content: "\e01d"; }

.e01e:before {
  content: "\e01e"; }

.e01f:before {
  content: "\e01f"; }

.e020:before {
  content: "\e020"; }

.e021:before {
  content: "\e021"; }

.e022:before {
  content: "\e022"; }

.e023:before {
  content: "\e023"; }

.e024:before {
  content: "\e024"; }

.e025:before {
  content: "\e025"; }

.e026:before {
  content: "\e026"; }

.e027:before {
  content: "\e027"; }

.e028:before {
  content: "\e028"; }

.e029:before {
  content: "\e029"; }

.e02a:before {
  content: "\e02a"; }

.e02b:before {
  content: "\e02b"; }

.e02c:before {
  content: "\e02c"; }

.e02d:before {
  content: "\e02d"; }

.e02e:before {
  content: "\e02e"; }

.e02f:before {
  content: "\e02f"; }

.e030:before {
  content: "\e030"; }

.e031:before {
  content: "\e031"; }

.e032:before {
  content: "\e032"; }

.e033:before {
  content: "\e033"; }

.e034:before {
  content: "\e034"; }

.e035:before {
  content: "\e035"; }

.e036:before {
  content: "\e036"; }

.e037:before {
  content: "\e037"; }

.e038:before {
  content: "\e038"; }

.e039:before {
  content: "\e039"; }

.e03a:before {
  content: "\e03a"; }

.e03b:before {
  content: "\e03b"; }

.e03c:before {
  content: "\e03c"; }

.e03d:before {
  content: "\e03d"; }

.e03e:before {
  content: "\e03e"; }

.e03f:before {
  content: "\e03f"; }

.e040:before {
  content: "\e040"; }

.e041:before {
  content: "\e041"; }

.e042:before {
  content: "\e042"; }

.e043:before {
  content: "\e043"; }

.e044:before {
  content: "\e044"; }

.e045:before {
  content: "\e045"; }

.e046:before {
  content: "\e046"; }

.e047:before {
  content: "\e047"; }

.e048:before {
  content: "\e048"; }

.e049:before {
  content: "\e049"; }

.e04a:before {
  content: "\e04a"; }

.e04b:before {
  content: "\e04b"; }

.e04c:before {
  content: "\e04c"; }

.e04d:before {
  content: "\e04d"; }

.e04e:before {
  content: "\e04e"; }

.e04f:before {
  content: "\e04f"; }

.e050:before {
  content: "\e050"; }

.e051:before {
  content: "\e051"; }

.e052:before {
  content: "\e052"; }

.e053:before {
  content: "\e053"; }

.e054:before {
  content: "\e054"; }

.e055:before {
  content: "\e055"; }

.e056:before {
  content: "\e056"; }

.e057:before {
  content: "\e057"; }

.e058:before {
  content: "\e058"; }

.e059:before {
  content: "\e059"; }

.e05a:before {
  content: "\e05a"; }

.e05b:before {
  content: "\e05b"; }

.e05c:before {
  content: "\e05c"; }

.e05d:before {
  content: "\e05d"; }

.e05e:before {
  content: "\e05e"; }

.e05f:before {
  content: "\e05f"; }

.e060:before {
  content: "\e060"; }

.e061:before {
  content: "\e061"; }

.e062:before {
  content: "\e062"; }

.e063:before {
  content: "\e063"; }

.e064:before {
  content: "\e064"; }

.e065:before {
  content: "\e065"; }

.e066:before {
  content: "\e066"; }

.e067:before {
  content: "\e067"; }

.e068:before {
  content: "\e068"; }

.e069:before {
  content: "\e069"; }

.e06a:before {
  content: "\e06a"; }

.e06b:before {
  content: "\e06b"; }

.e06c:before {
  content: "\e06c"; }

.e06d:before {
  content: "\e06d"; }

.e06e:before {
  content: "\e06e"; }

.e06f:before {
  content: "\e06f"; }

.e070:before {
  content: "\e070"; }

.e071:before {
  content: "\e071"; }

.e072:before {
  content: "\e072"; }

.e073:before {
  content: "\e073"; }

.e074:before {
  content: "\e074"; }

.e075:before {
  content: "\e075"; }

.e076:before {
  content: "\e076"; }

.e077:before {
  content: "\e077"; }

.e078:before {
  content: "\e078"; }

.e079:before {
  content: "\e079"; }

.e07a:before {
  content: "\e07a"; }

.e07b:before {
  content: "\e07b"; }

.e07c:before {
  content: "\e07c"; }

.e07d:before {
  content: "\e07d"; }

.e07e:before {
  content: "\e07e"; }

.e07f:before {
  content: "\e07f"; }

.e080:before {
  content: "\e080"; }

.e081:before {
  content: "\e081"; }

.e082:before {
  content: "\e082"; }

.e083:before {
  content: "\e083"; }

.e084:before {
  content: "\e084"; }

.e085:before {
  content: "\e085"; }

.e086:before {
  content: "\e086"; }

.e087:before {
  content: "\e087"; }

.e088:before {
  content: "\e088"; }

.e089:before {
  content: "\e089"; }

.e08a:before {
  content: "\e08a"; }

.e08b:before {
  content: "\e08b"; }

.e08c:before {
  content: "\e08c"; }

.e08d:before {
  content: "\e08d"; }

.e08e:before {
  content: "\e08e"; }

.e08f:before {
  content: "\e08f"; }

.e090:before {
  content: "\e090"; }

.e091:before {
  content: "\e091"; }

.e092:before {
  content: "\e092"; }

.e093:before {
  content: "\e093"; }

.e094:before {
  content: "\e094"; }

.e095:before {
  content: "\e095"; }

.e096:before {
  content: "\e096"; }

.e097:before {
  content: "\e097"; }

.e098:before {
  content: "\e098"; }

.e099:before {
  content: "\e099"; }

.e09a:before {
  content: "\e09a"; }

.e09b:before {
  content: "\e09b"; }

.e09c:before {
  content: "\e09c"; }

.e09d:before {
  content: "\e09d"; }

.e09e:before {
  content: "\e09e"; }

.e09f:before {
  content: "\e09f"; }

.e0a0:before {
  content: "\e0a0"; }

.e0a1:before {
  content: "\e0a1"; }

.e0a2:before {
  content: "\e0a2"; }

.e0a3:before {
  content: "\e0a3"; }

.e0a4:before {
  content: "\e0a4"; }

.e0a5:before {
  content: "\e0a5"; }

.e0a6:before {
  content: "\e0a6"; }

.e0a7:before {
  content: "\e0a7"; }

.e0a8:before {
  content: "\e0a8"; }

.e0a9:before {
  content: "\e0a9"; }

.e0aa:before {
  content: "\e0aa"; }

.e0ab:before {
  content: "\e0ab"; }

.e0ac:before {
  content: "\e0ac"; }

.e0ad:before {
  content: "\e0ad"; }

.e0ae:before {
  content: "\e0ae"; }

.e0af:before {
  content: "\e0af"; }

.e0b0:before {
  content: "\e0b0"; }

.e0b1:before {
  content: "\e0b1"; }

.e0b2:before {
  content: "\e0b2"; }

.e0b3:before {
  content: "\e0b3"; }

.e0b4:before {
  content: "\e0b4"; }

.e0b5:before {
  content: "\e0b5"; }

.e0b6:before {
  content: "\e0b6"; }

.e0b7:before {
  content: "\e0b7"; }

.e0b8:before {
  content: "\e0b8"; }

.e0b9:before {
  content: "\e0b9"; }

.e0ba:before {
  content: "\e0ba"; }

.e0bb:before {
  content: "\e0bb"; }

.e0bc:before {
  content: "\e0bc"; }

.e0bd:before {
  content: "\e0bd"; }

.e0be:before {
  content: "\e0be"; }

.e0bf:before {
  content: "\e0bf"; }

.e0c0:before {
  content: "\e0c0"; }

.e0c1:before {
  content: "\e0c1"; }

.e0c2:before {
  content: "\e0c2"; }

.e0c3:before {
  content: "\e0c3"; }

.e0c4:before {
  content: "\e0c4"; }

.e0c5:before {
  content: "\e0c5"; }

.e0c6:before {
  content: "\e0c6"; }

.e0c7:before {
  content: "\e0c7"; }

.e0c8:before {
  content: "\e0c8"; }

.e0c9:before {
  content: "\e0c9"; }

.e0ca:before {
  content: "\e0ca"; }

.e0cb:before {
  content: "\e0cb"; }

.e0cc:before {
  content: "\e0cc"; }

.e0cd:before {
  content: "\e0cd"; }

.e0ce:before {
  content: "\e0ce"; }

.e0cf:before {
  content: "\e0cf"; }

.e0d0:before {
  content: "\e0d0"; }

.e0d1:before {
  content: "\e0d1"; }

.e0d2:before {
  content: "\e0d2"; }

.e0d3:before {
  content: "\e0d3"; }

.e0d4:before {
  content: "\e0d4"; }

.e0d5:before {
  content: "\e0d5"; }

.e0d6:before {
  content: "\e0d6"; }

.e0d7:before {
  content: "\e0d7"; }

.e0d8:before {
  content: "\e0d8"; }

.e0d9:before {
  content: "\e0d9"; }

.e0da:before {
  content: "\e0da"; }

.e0db:before {
  content: "\e0db"; }

.e0dc:before {
  content: "\e0dc"; }

.e0dd:before {
  content: "\e0dd"; }

.e0de:before {
  content: "\e0de"; }

.e0df:before {
  content: "\e0df"; }

.e0e0:before {
  content: "\e0e0"; }

.e0e1:before {
  content: "\e0e1"; }

.e0e2:before {
  content: "\e0e2"; }

.e0e3:before {
  content: "\e0e3"; }

.e0e4:before {
  content: "\e0e4"; }

.e0e5:before {
  content: "\e0e5"; }

.e0e6:before {
  content: "\e0e6"; }

.e0e7:before {
  content: "\e0e7"; }

.e0e8:before {
  content: "\e0e8"; }

.e0e9:before {
  content: "\e0e9"; }

.e0ea:before {
  content: "\e0ea"; }

.e0eb:before {
  content: "\e0eb"; }

.e0ec:before {
  content: "\e0ec"; }

.e0ed:before {
  content: "\e0ed"; }

.e0ee:before {
  content: "\e0ee"; }

.e0ef:before {
  content: "\e0ef"; }

.e0f0:before {
  content: "\e0f0"; }

.e0f1:before {
  content: "\e0f1"; }

.e0f2:before {
  content: "\e0f2"; }

.e0f3:before {
  content: "\e0f3"; }

.e0f4:before {
  content: "\e0f4"; }

.e0f5:before {
  content: "\e0f5"; }

.e0f6:before {
  content: "\e0f6"; }

.e0f7:before {
  content: "\e0f7"; }

.e0f8:before {
  content: "\e0f8"; }

.e0f9:before {
  content: "\e0f9"; }

.e0fa:before {
  content: "\e0fa"; }

.e0fb:before {
  content: "\e0fb"; }

.e0fc:before {
  content: "\e0fc"; }

.e0fd:before {
  content: "\e0fd"; }

.e0fe:before {
  content: "\e0fe"; }

.e0ff:before {
  content: "\e0ff"; }

.e100:before {
  content: "\e100"; }

.e101:before {
  content: "\e101"; }

.e102:before {
  content: "\e102"; }

.e103:before {
  content: "\e103"; }

.e104:before {
  content: "\e104"; }

.e105:before {
  content: "\e105"; }

.e106:before {
  content: "\e106"; }

.e107:before {
  content: "\e107"; }

.e108:before {
  content: "\e108"; }

.e109:before {
  content: "\e109"; }

.e10a:before {
  content: "\e10a"; }

.e10b:before {
  content: "\e10b"; }

.e10c:before {
  content: "\e10c"; }

.e10d:before {
  content: "\e10d"; }

.e10e:before {
  content: "\e10e"; }

.e10f:before {
  content: "\e10f"; }

.e110:before {
  content: "\e110"; }

.e111:before {
  content: "\e111"; }

.e112:before {
  content: "\e112"; }

.e113:before {
  content: "\e113"; }

.e114:before {
  content: "\e114"; }

.e115:before {
  content: "\e115"; }

.e116:before {
  content: "\e116"; }

.e117:before {
  content: "\e117"; }

.e118:before {
  content: "\e118"; }

.e119:before {
  content: "\e119"; }

.e11a:before {
  content: "\e11a"; }

.e11b:before {
  content: "\e11b"; }

.e11c:before {
  content: "\e11c"; }

.e11d:before {
  content: "\e11d"; }

.e11e:before {
  content: "\e11e"; }

.e11f:before {
  content: "\e11f"; }

.e120:before {
  content: "\e120"; }

.e121:before {
  content: "\e121"; }

.e122:before {
  content: "\e122"; }

.e123:before {
  content: "\e123"; }

.e124:before {
  content: "\e124"; }

.e125:before {
  content: "\e125"; }

.e126:before {
  content: "\e126"; }

.e127:before {
  content: "\e127"; }

.e128:before {
  content: "\e128"; }

.e129:before {
  content: "\e129"; }

.e12a:before {
  content: "\e12a"; }

.e12b:before {
  content: "\e12b"; }

.e12c:before {
  content: "\e12c"; }

.e12d:before {
  content: "\e12d"; }

.e12e:before {
  content: "\e12e"; }

.e12f:before {
  content: "\e12f"; }

.e130:before {
  content: "\e130"; }

.e131:before {
  content: "\e131"; }

.e132:before {
  content: "\e132"; }

.e133:before {
  content: "\e133"; }

.e134:before {
  content: "\e134"; }

.e135:before {
  content: "\e135"; }

.e136:before {
  content: "\e136"; }

.e137:before {
  content: "\e137"; }

.e138:before {
  content: "\e138"; }

.e139:before {
  content: "\e139"; }

.e13a:before {
  content: "\e13a"; }

.e13b:before {
  content: "\e13b"; }

.e13c:before {
  content: "\e13c"; }

.e13d:before {
  content: "\e13d"; }

.e13e:before {
  content: "\e13e"; }

.e13f:before {
  content: "\e13f"; }

.e140:before {
  content: "\e140"; }

.e141:before {
  content: "\e141"; }

.e142:before {
  content: "\e142"; }

.e143:before {
  content: "\e143"; }

.e144:before {
  content: "\e144"; }

.e145:before {
  content: "\e145"; }

.e146:before {
  content: "\e146"; }

.e147:before {
  content: "\e147"; }

.e148:before {
  content: "\e148"; }

.e149:before {
  content: "\e149"; }

.e14a:before {
  content: "\e14a"; }

.e14b:before {
  content: "\e14b"; }

.e14c:before {
  content: "\e14c"; }

.e14d:before {
  content: "\e14d"; }

.e14e:before {
  content: "\e14e"; }

.e14f:before {
  content: "\e14f"; }

.e150:before {
  content: "\e150"; }

.e151:before {
  content: "\e151"; }

.e152:before {
  content: "\e152"; }

.e153:before {
  content: "\e153"; }

.e154:before {
  content: "\e154"; }

.e155:before {
  content: "\e155"; }
