@function dec-to-hex($d) { //http://stackoverflow.com/a/19721069
    $hexVals: "A" "B" "C" "D" "E" "F";
    $base: 16;
    $quotient: $d;
    $result: "";
    @if $d == 0 {
        $result: "00";
    }
    @while $quotient != 0 {
        $mod: $quotient % $base;
        $quotient: floor($quotient / $base);
        @if $mod > 9 {
            $mod: nth($hexVals, $mod - 9);
        }
        @if $d < $base {
            $result: "0" + $mod;
        } @else {
            $result: $mod + $result;
        }
    }
    $result: to-lower-case($result);
    @return $result;
}

@function entity-conversion($value){ //http://stackoverflow.com/a/26112274
	$result-with-slash: "\"\\#{$value}\"";
    $escaped-values: unquote($result-with-slash);
    @return $escaped-values;
}

@font-face{
  font-family: apex-5-icon-font;
  src: url(../apex-5-icon-font.ttf)
}

body{
	display:flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	max-width: 60em;
	margin: 0 auto 0;
}

.icon{
	font-family: apex-5-icon-font, Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: 1em;
	width: 20%;
	font-size: 0.75em;
	text-align:left;
	.unicode-entity{
		font-size: 0.75em;
		font-weight: 900;
		display:block;
		text-align: left;
		margin-left: 2rem;
	}	
	&:before{
		font-size: 1.25rem;
		display:inline-block;
		position:relative;
		float:left;
		margin: 0.25em 0.5em 0.5em 0;
	}
	&.unused{
		color: #cc5555;
	}
}

$count: 57344; //Hex Starting number
@while $count < 57686{ //starting number + iterations
	$hex-count: dec-to-hex($count);
	$entity: entity-conversion($hex-count);

	.#{$hex-count}:before{
		content: $entity;
	}
	$count: $count + 1;
}